<launch>
    <group>
        <node pkg="exp_assignment2" type="go_to_point_ball.py" name="go_to_point_ball" output="screen">
        </node>
        <!--<node pkg="exp_assignment2" type="go_to_point_robot.py" name="go_to_point_robot" output="screen">
        </node>-->
        <node pkg="exp_assignment2" type="human_interaction_gen.py" name="human_interaction_gen" output="screen">
        </node>
        <!--<include file="$(find exp_assignment2)/launch/gazebo_world.launch" />-->
    </group>
</launch>  